## Task 1 - SQL

### Build SparkSession:

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("task1").getOrCreate()

22/06/14 23:03:56 WARN Utils: Your hostname, sam-pc resolves to a loopback address: 127.0.1.1; using 192.168.1.2 instead (on interface wlp2s0)
22/06/14 23:03:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/14 23:04:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Read the json file:

In [4]:
js_file = spark.read.json('DataFrames_sample.json')

### Display the schema:

In [8]:
js_file.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

### Get all the data when "Model" equal "MacBook Pro":

In [17]:
js_file.select('*').where('Model == "MacBook Pro"').show()
# js_file.where('Model == "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create Table:

In [24]:
js_file.createOrReplaceTempView("products")

### Display "RAM"column and count "RAM" column:

In [134]:
spark.sql("select RAM, count(RAM) from Products group by RAM").show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [28]:
spark.sql("select * from Products where Year==2015").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [58]:
spark.sql('Select * from Products where Model like "M%"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [74]:
# spark.sql('Select * from Products where Model like "MacBook Pro"').show()
spark.sql('Select * from Products where Model == "MacBook Pro"').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [72]:
# js_file.where('Model=="MacBook" and RAM=="8GB"').show()
spark.sql('Select * from Products where Model=="MacBook" and RAM=="8GB"').show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [76]:
spark.sql('Select * from Products where Model=="iMac" and D>=8').show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [183]:
test1_file = spark.read.csv('test1.csv', header=True,  inferSchema=True)

### Display Salary of the people less than or equal to 20000

In [184]:
test1_file.select('*').where('Salary<=20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [104]:
test1_file.select('*').where('Salary between 15000 and 20000').show()
# test1_file.select('*').where('Salary >= 15000 and Salary<= 20000').show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [180]:
test3_file = spark.read.csv('test3.csv', header=True, inferSchema=True)

### Display dataset

In [181]:
test3_file.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [182]:
test3_file.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [163]:
from pyspark.sql.functions import sum as sumFun, avg as avgFun, count as countFun, col

In [ ]:
test3_file.createTempView('Employee')

### Group by "Name" column and using sum function on "Name" column

In [219]:
test3_file.groupBy('Name').agg(sumFun('Salary').alias('Avg_Salary')).show()

+---------+----------+
|     Name|Avg_Salary|
+---------+----------+
|Sudhanshu|     35000|
|    Sunny|     12000|
|    Krish|     19000|
|   Mahesh|      7000|
+---------+----------+

In [199]:
spark.sql('''select Name, sum(Salary) as Total_Salary
                from Employee 
                group by Name''').show()

+---------+------------+
|     Name|Total_Salary|
+---------+------------+
|Sudhanshu|     35000.0|
|    Sunny|     12000.0|
|    Krish|     19000.0|
|   Mahesh|      7000.0|
+---------+------------+

### Group by "Name" column and using avg function on "Name" column

In [206]:
test3_file.groupBy('Name').avg('Salary').alias('Avg_Salary').show()

+---------+------------------+
|     Name|       avg(Salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [217]:
test3_file.groupBy('Name').agg(round(avgFun('Salary'), 2).alias('Avg_Salary')).show()

+---------+----------+
|     Name|Avg_Salary|
+---------+----------+
|Sudhanshu|  11666.67|
|    Sunny|    6000.0|
|    Krish|   6333.33|
|   Mahesh|    3500.0|
+---------+----------+

In [154]:
spark.sql('''select Name, round(avg(Salary), 2) as Avg_Salary 
                from Employee 
                group by Name''').show()

+---------+----------+
|     Name|Avg_Salary|
+---------+----------+
|Sudhanshu|  11666.67|
|    Sunny|    6000.0|
|    Krish|   6333.33|
|   Mahesh|    3500.0|
+---------+----------+

### Group by "Departments" column and using sum function on "Departments" column

In [222]:
test3_file.groupBy('Departments').agg(sumFun('Salary').alias('Total_Salary')).show()

+------------+------------+
| Departments|Total_Salary|
+------------+------------+
|         IOT|       15000|
|    Big Data|       15000|
|Data Science|       43000|
+------------+------------+

In [157]:
spark.sql('''select Departments, sum(Salary) as Total_Salary 
                from Employee 
                group by Departments''').show()

+------------+------------+
| Departments|Total_Salary|
+------------+------------+
|         IOT|     15000.0|
|    Big Data|     15000.0|
|Data Science|     43000.0|
+------------+------------+

### Group by "Departments" column and using mean function on "Departments" column:

In [223]:
test3_file.groupBy('Departments').agg(avgFun('Salary').alias('Avg_Salary')).show()

+------------+----------+
| Departments|Avg_Salary|
+------------+----------+
|         IOT|    7500.0|
|    Big Data|    3750.0|
|Data Science|   10750.0|
+------------+----------+

In [158]:
spark.sql('''select Departments, Avg(Salary) as Avg_Salary 
                from Employee 
                group by Departments''').show()

+------------+----------+
| Departments|Avg_Salary|
+------------+----------+
|         IOT|    7500.0|
|    Big Data|    3750.0|
|Data Science|   10750.0|
+------------+----------+

### Group by "Departments" column and using count function on "Departments" column:

In [235]:
test3_file.groupBy('Departments').agg(countFun('Salary').alias('Count')).show()

+------------+-----+
| Departments|Count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [236]:
spark.sql('''select Departments, count(*) as Count 
                from Employee 
                group by Departments''').show()

+------------+-----+
| Departments|Count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

### Apply agg to using sum function get the total of salaries

In [244]:
test3_file.agg(sumFun('Salary').alias('Total_Salary')).show()

+------------+
|Total_Salary|
+------------+
|       73000|
+------------+

In [160]:
spark.sql('''select sum(Salary) as Total_Salary 
                from Employee ''').show()

+------------+
|Total_Salary|
+------------+
|     73000.0|
+------------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [401]:
ship_df = spark.read.csv('ITI_data.csv', inferSchema=True, header=True)
ship_df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [402]:
ship_df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- passenger_density: double (nullable = true)
 |-- crew: double (nullable = true)

### splitt test and train data

In [420]:
trainDF, testDF = ship_df.randomSplit([0.8, 0.2], seed=2021)
trainDF.toPandas().shape, testDF.toPandas().shape

((130, 9), (28, 9))

### OneHotEncoder

In [403]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

In [421]:
catCols = ship_df.toPandas().select_dtypes(include='object').columns.tolist()

In [422]:
indexOutputCols = [x + "_Index" for x in catCols]
indexOutputCols

['Ship_name_Index', 'Cruise_line_Index']

In [423]:
oheOutputCols = [x + "_OHE" for x in catCols]
oheOutputCols

['Ship_name_OHE', 'Cruise_line_OHE']

In [425]:
stringIndexer = StringIndexer(inputCols=catCols,
                              outputCols=indexOutputCols,
                             handleInvalid='skip')

In [426]:
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [429]:
numCols = list(set(ship_df.columns) - set(catCols))
numCols

['cabins',
 'crew',
 'Tonnage',
 'passengers',
 'passenger_density',
 'Age',
 'length']

In [430]:
assemblerInputs = oheOutputCols + numCols
assemblerInputs

['Ship_name_OHE',
 'Cruise_line_OHE',
 'cabins',
 'crew',
 'Tonnage',
 'passengers',
 'passenger_density',
 'Age',
 'length']

### Use VectorAssembler to merge all columns into one column:

In [431]:
vecAssembler = VectorAssembler(inputCols = assemblerInputs,
                                outputCol = 'features')

### Create a Linear Regression Model

In [454]:
trainDFF = trainDF
testDFF = testDF

for s in catCols:
    trainDFF = trainDF.drop(s)
    testDFF = testDF.drop(s)

In [456]:
assumVec = VectorAssembler(inputCols = numCols, outputCol = 'features')
output_train=assumVec.transform(trainDFF)
output_test=assumVec.transform(testDFF)

In [450]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline

In [457]:
linearR = LinearRegression(featuresCol="features", 
                            labelCol="crew", 
                            predictionCol="prediction")

In [458]:
outLR = linearR.fit(output_train)

22/06/15 03:00:00 WARN Instrumentation: [8e5a6b87] regParam is zero, which might cause numerical instability and overfitting.

In [460]:
#evaluating train data
ship_results = outLR.evaluate(output_train)
print('R2 Squrer :',ship_results.r2, '| adj R2 Squrer :',ship_results.r2adj, 'Abs Error :',ship_results.meanAbsoluteError)

R2 Squrer : 1.0 | adj R2 Squrer : 1.0 Abs Error : 9.300252875513812e-16

In [467]:
#evaluating train data
ship_results = outLR.evaluate(output_test)
print('R2 Squrer :',ship_results.r2, '| adj R2 Squrer :',ship_results.r2adj, 'Abs Error :',ship_results.meanAbsoluteError)

R2 Squrer : 1.0 | adj R2 Squrer : 1.0 Abs Error : 8.009466106224344e-16

### Creating a Pipeline

In [434]:
pipline = Pipeline(stages=[stringIndexer, oheEncoder, vecAssembler, linearR])

In [435]:
pipelineModel = pipline.fit(trainDF)

22/06/15 02:51:41 WARN Instrumentation: [02b9c999] regParam is zero, which might cause numerical instability and overfitting.
22/06/15 02:51:41 WARN Instrumentation: [02b9c999] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.

In [436]:
predDF = pipelineModel.transform(testDF)

In [438]:
predDF.select('features','crew','prediction').show(5)

+--------------------+-----+------------------+
|            features| crew|        prediction|
+--------------------+-----+------------------+
|(141,[56,116,134,...|  9.3| 9.139475516786993|
|(141,[56,117,134,...|  7.2| 7.333511915401142|
|(141,[10,116,134,...|10.29|10.015154196575764|
|(141,[10,134,135,...|  1.6|1.5291777924528374|
+--------------------+-----+------------------+

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566