# PySpark H.W Session 1

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('assign1').getOrCreate()

22/06/17 01:14:38 WARN Utils: Your hostname, sam-pc resolves to a loopback address: 127.0.1.1; using 192.168.1.3 instead (on interface wlp2s0)
22/06/17 01:14:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/06/17 01:14:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/06/17 01:15:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/06/17 01:15:00 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [3]:
stock = spark.read.option("timestampFormat", "yyyy-MM-dd").csv('walmart_stock.csv', inferSchema=True, header=True)

#### What are the column names?

In [4]:
stock.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [5]:
stock.printSchema()

root
 |-- Date: timestamp (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [6]:
# stock.head(5)
for idx in range(6):
    print(stock.collect()[idx], '\n')

Row(Date=datetime.datetime(2012, 1, 3, 0, 0), Open=59.970001, High=61.060001, Low=59.869999, Close=60.330002, Volume=12668800, Adj Close=52.619234999999996)

Row(Date=datetime.datetime(2012, 1, 4, 0, 0), Open=60.209998999999996, High=60.349998, Low=59.470001, Close=59.709998999999996, Volume=9593300, Adj Close=52.078475)

Row(Date=datetime.datetime(2012, 1, 5, 0, 0), Open=59.349998, High=59.619999, Low=58.369999, Close=59.419998, Volume=12768200, Adj Close=51.825539)

Row(Date=datetime.datetime(2012, 1, 6, 0, 0), Open=59.419998, High=59.450001, Low=58.869999, Close=59.0, Volume=8069400, Adj Close=51.45922)

Row(Date=datetime.datetime(2012, 1, 9, 0, 0), Open=59.029999, High=59.549999, Low=58.919998, Close=59.18, Volume=6679300, Adj Close=51.616215000000004)

Row(Date=datetime.datetime(2012, 1, 10, 0, 0), Open=59.43, High=59.709998999999996, Low=58.98, Close=59.040001000000004, Volume=6907300, Adj Close=51.494109)

#### Use describe() to learn about the DataFrame.

In [10]:
des_tb = stock.describe()
des_tb.show()

+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [11]:
des_tb.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [206]:
from pyspark.sql.functions import col, format_number, max as maxFn, mean as meanFn, min as minFn, corr as corrFn, year as yearFn, month as monthFn
from pyspark.sql.types import FloatType, IntegerType

In [84]:
des_tb.select(
      col('summary'),
            format_number(col('Open').cast(FloatType()), 2).alias('Open'),
            format_number(col('High').cast(FloatType()), 2).alias('High'),
            format_number(col('Low').cast(FloatType()), 2).alias('Low'),
            format_number(col('Close').cast(FloatType()), 2).alias('Close'),
            format_number(col('Volume').cast(IntegerType()), 0).alias('Volume'))\
      .show()

+-------+--------+--------+--------+--------+----------+
|summary|    Open|    High|     Low|   Close|    Volume|
+-------+--------+--------+--------+--------+----------+
|  count|1,258.00|1,258.00|1,258.00|1,258.00|     1,258|
|   mean|   72.36|   72.84|   71.92|   72.39| 8,222,093|
| stddev|    6.77|    6.77|    6.74|    6.76| 4,519,780|
|    min|   56.39|   57.06|   56.30|   56.42| 2,094,900|
|    max|   90.80|   90.97|   89.25|   90.47|80,898,100|
+-------+--------+--------+--------+--------+----------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [85]:
stock2 = stock.withColumn('HV', col('High')/col('Volume'))

In [93]:
stock2.select('HV').show()

+--------------------+
|                  HV|
+--------------------+
|4.819714653321546E-6|
|6.290848613094555E-6|
|4.669412994783916E-6|
|7.367338463826307E-6|
|8.915604778943901E-6|
|8.644477436914568E-6|
|9.351828421515645E-6|
| 8.29141562102703E-6|
|7.712212102001476E-6|
|7.071764823529412E-6|
|1.015495466386981E-5|
|6.576354146362592...|
| 5.90145296180676E-6|
|8.547679455011844E-6|
|8.420709512685392E-6|
|1.041448341728929...|
|8.316075414862431E-6|
|9.721183814992126E-6|
|8.029436027707578E-6|
|6.307432259386365E-6|
+--------------------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [138]:
print(stock2.orderBy(col('High'),ascending=False).collect()[0][0])
stock2.select('Date').where(f'High == {stock2.select(maxFn("High")).collect()[0][0]}').show()

2015-01-13 00:00:00
+-------------------+
|               Date|
+-------------------+
|2015-01-13 00:00:00|
+-------------------+

#### What is the mean of the Close column?

In [139]:
print(stock2.select(meanFn("Close")).collect()[0][0])
stock2.agg(meanFn('Close')).show()

72.38844998012726
+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [155]:
print('max', stock2.orderBy(col('Volume'),ascending=False).collect()[0][5])
print('min', stock2.orderBy(col('Volume'),ascending=True).collect()[0][5])

stock2.agg(maxFn('Volume'), minFn('Volume')).show() #faster than above

max 80898100
min 2094900
+-----------+-----------+
|max(Volume)|min(Volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [166]:
print(stock2.select('Date').where('Close < 60').count())
print(stock2.filter('Close < 60').count())

81
81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [169]:
print(stock2.filter('High > 80').count()/ stock2.count() * 100)

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [182]:
print(stock2.corr('High', 'Volume'))

-0.3384326061737161

#### What is the max High per year?

In [205]:
yearOnly = stock2.withColumn("Year",yearFn(col('Date')))
yearOnly.groupBy('Year').max().select('Year','max(High)').show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2013|81.370003|
|2014|88.089996|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [218]:
monthOnly = stock2.withColumn('Month', monthFn(col('Date')))
monthOnly.select('Month','Close').groupBy('Month').mean().select('Month','avg(Close)').show()

+-----+-----------------+
|Month|       avg(Close)|
+-----+-----------------+
|   12|72.84792478301885|
|    1|71.44801958415842|
|    6| 72.4953774245283|
|    3|71.77794377570092|
|    5|72.30971688679247|
|    9|72.18411785294116|
|    4|72.97361900952382|
|    8|73.02981855454546|
|    7|74.43971943925233|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|    2|  71.306804443299|
+-----+-----------------+