### Import the required libraries then Create SparkContext

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('myRDD').getOrCreate()

In [5]:
sc = spark.sparkContext

### Create and display an RDD from the following list

In [6]:
list1 = [('JK', 22), ('V', 24), ('Jimin',24), ('RM', 25), ('J-Hope', 25), ('Suga', 26), ('Jin', 27)]

In [92]:
rdd1 = sc.parallelize(list1)

In [94]:
rdd1.collect()

[('JK', 22),
 ('V', 24),
 ('Jimin', 24),
 ('RM', 25),
 ('J-Hope', 25),
 ('Suga', 26),
 ('Jin', 27)]

### Read sample1.txt file into RDD and displaying the first 4 elements

In [41]:
rddFile = sc.textFile('sample.txt')

In [42]:
rddFile.take(4)

['Utilitatis causa amicitia est quaesita.',
 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
 'Collatio igitur ista te nihil iuvat. Honesta oratio, Socratica, Platonis etiam. Primum in nostrane potestate est, quid meminerimus?',
 'Duo Reges: constructio interrete. ']

### Count the total number of rows in RDD

In [43]:
rddFile.count()

7

### Create a function to convert the data into lower case and splitting it

In [44]:
rddFileTransform = rddFile.map(lambda s: s.lower().split(' '))

In [45]:
rddFileTransform.collect()

[['utilitatis', 'causa', 'amicitia', 'est', 'quaesita.'],
 ['lorem',
  'ipsum',
  'dolor',
  'sit',
  'amet,',
  'consectetur',
  'adipiscing',
  'elit.'],
 ['collatio',
  'igitur',
  'ista',
  'te',
  'nihil',
  'iuvat.',
  'honesta',
  'oratio,',
  'socratica,',
  'platonis',
  'etiam.',
  'primum',
  'in',
  'nostrane',
  'potestate',
  'est,',
  'quid',
  'meminerimus?'],
 ['duo', 'reges:', 'constructio', 'interrete.', ''],
 ['quamquam',
  'id',
  'quidem',
  'licebit',
  'iis',
  'existimare,',
  'qui',
  'legerint.',
  ''],
 ['quid,',
  'si',
  'etiam',
  'iucunda',
  'memoria',
  'est',
  'praeteritorum',
  'malorum?',
  ''],
 ['si',
  'quidem,',
  'inquit,',
  'tollerem,',
  'sed',
  'relinquo.',
  'an',
  'nisi',
  'populari',
  'fama?']]

### Filter the stopwords from the previous text

In [46]:
stopwords = ['a','all','the','as','is','am','an','and','be','been','from','had','I','I’d','why','with']
# Hint: you may need use flatMap

In [82]:
rddFileTransform2 = rddFileTransform.flatMap(lambda x: x)

In [85]:
rddFileFilter = rddFileTransform2.filter(lambda s : s not in stopwords)

In [87]:
rddFileFilter.take(10)

['utilitatis',
 'causa',
 'amicitia',
 'est',
 'quaesita.',
 'lorem',
 'ipsum',
 'dolor',
 'sit',
 'amet,']

### Filter the words starting with ‘c’

In [88]:
rddFileFilter2 = rddFileFilter.filter(lambda s : s.startswith('c'))

In [89]:
rddFileFilter2.collect()

['causa', 'consectetur', 'collatio', 'constructio']

### Reduce the data by key and sum it (use the data from the following list)

In [102]:
list2 = [
         ('JK', 22), ('V', 24), ('Jimin',24), ('RM', 25)
        ,('J-Hope', 25), ('Suga', 26), ('Jin', 27)
        ,('J-Hope', 12), ('Suga', 25), ('Jin', 34)
        ,('JK', 32), ('V', 44), ('Jimin',14), ('RM', 35)
       ]
# Hint: use reduceByKey

In [109]:
list2

[('JK', 22),
 ('V', 24),
 ('Jimin', 24),
 ('RM', 25),
 ('J-Hope', 25),
 ('Suga', 26),
 ('Jin', 27),
 ('J-Hope', 12),
 ('Suga', 25),
 ('Jin', 34),
 ('JK', 32),
 ('V', 44),
 ('Jimin', 14),
 ('RM', 35)]

In [95]:
rdd2 = sc.parallelize(list2)

In [123]:
reduceRDD = rdd2.reduceByKey(lambda v1, v2: v1+v2)

In [124]:
reduceRDD.collect()

[('Suga', 51),
 ('Jin', 61),
 ('JK', 54),
 ('V', 68),
 ('Jimin', 38),
 ('RM', 60),
 ('J-Hope', 37)]

### Creat some key value pairs RDDs

In [118]:
rdd3 = sc.parallelize([('a',2),('b',3)])
rdd4 = sc.parallelize([('a',9),('b',7),('c',10)])

### Perform Join operation on the RDDs (rdd1,rdd2)

In [121]:
joinRDD = rdd3.join(rdd4)

In [122]:
joinRDD.collect()

[('b', (3, 7)), ('a', (2, 9))]